<div class="container tablet-width">
  <div class="titlegroup">
    <h1>npm On-Site</h1>
    <h2>time to check your email</h2>
  </div>

  <p>
    A verification link has been sent to your email. Click the link in the
    email to complete your purchase of npm On-Site.
  </p>
</div>
