<div class="container tablet-width">
  <div class="titlegroup">
    <h1>npm On-Site</h1>
    <h2>We'll be in touch!</h2>
  </div>

  <p>Thanks for your interest in npm On-Site. We'll be in touch by email in the next working day.</p>
</div>
