<div class="container tablet-width">

  <header>
    <h1>npm On-Site</h1>
  </header>

  <section>
    <h2>Thanks for your payment</h2>

    <p>Your license has been emailed to your billing address.</p>
  </section>

</div>
