<div class="tablet-width markdown container">
<header>
  <h1>npm Private Modules</h1>
  <h2>create and share unlimited private modules for $7/month</h2>
</header>

{{#unless isPaid}}
  {{{benefits}}}
{{/unless}}

  {{{md}}}
</div>
